[workspace]
types = "packages/types"

[features]
seeds = false
skip-lint = false
[programs.localnet]
treasury_controller = "8Wbd1YbvX44jJHmBrythtrMWJiJH5u7NqT1EYspSYx78"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "packages/tests/fixtures/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 packages/tests/*.ts"
